/* Colorado State Demography Office Profile Dashboard CSS Nov 2017 */

body {
    	background-color: #F8F8FF;
	 font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; 
     font-weight: 100;  /*Global Font*/
}
      .form-group, .selectize-control {
           margin-bottom: 0px;
      }
      .box-body {
          padding-bottom: 0px;
      }
/* heading styles */
h1{
    background-color: green;
	color: white;
	text-align: center;
       font-style: bold;
	font-size: 200%;
	border: 4px solid black;
	line-height: 100%;
}
h2{
       background-color: black;
        color: white;
	font-style: bold;
	font-size: 150%;
	line-height: 100%;
        padding: 0px;
}
h3{
	color: black;
	text-decoration: underline;
	line-height: 100%;
}
p{
	 line-height: 100%;
}
/* Bulleted Text */
.txt105{
        padding: 0px;
        font-style: bold;
	font-size: 110%;
	line-height: 150%;
  }
/*Table Style */
.Row1Tab table, td{
	border-collapse: collapse;
	border: 1px solid black;
	
}
.Row1Tab tr:nth-child(odd) {
    text-align: center;
    font-size: 150%;
}
.Row1Tab tr:nth-child(even) {
    text-align: center;
    font-size: 100%;
}
.Row1Tab tr:last-child {
    font-size: 75%;
}

.cleanTab {
        text-align: right;
	border: none;
        font_size: 90%;
        line-height: 70%;
        border-spacing: 0px;
        border-collapse: separate;
        padding: 0px;
	}
.cleanTab th {
        padding: 0px;
        padding-bottom:0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;

}
.cleanTab tr {
	border: 2px;
        border-spacing: 0px;
        border-collapse: separate;
        padding: 0px;
.cleanTab td {
	border: none;
        border-spacing: 0px;
        border-collapse: separate;
        padding: 0px;
	
}



